body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.87); }

*::placeholder {
  color: rgba(0, 0, 0, 0.5); }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input {
  background: transparent; }

.stop-scroll {
  height: calc(100%);
  overflow: hidden;
  touch-action: none; }

.hidden {
  display: none !important; }

.collapsed-h {
  height: 0 !important; }

.collapsed-w {
  height: 0 !important; }

html,
body,
#root,
#PageContainer {
  height: 100%;
  margin: 0px;
  padding: 0px; }

[contenteditable]:focus {
  outline: 0px solid transparent; }

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background: #ffbb00; }
  .top-bar .logo {
    text-align: center; }
  .top-bar .szukaj-cont {
    display: flex;
    align-items: center;
    height: 70%;
    width: 100%;
    margin: 0 5%;
    border-radius: 15px 15px 5px;
    background: rgba(0, 0, 0, 0.05); }
    .top-bar .szukaj-cont .szukaj-btn {
      cursor: pointer;
      opacity: 0.5;
      padding: 4px 10px 0 12px; }
      .top-bar .szukaj-cont .szukaj-btn svg {
        width: 30px;
        height: 30px; }
    .top-bar .szukaj-cont input {
      width: 100%;
      border: 1px solid transparent;
      background: transparent;
      border-radius: 3px;
      outline: 0px solid transparent; }
  .top-bar .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
    padding: 15px;
    cursor: pointer;
    user-select: none;
    opacity: 0.5; }
    .top-bar .btn:hover {
      opacity: 1; }
    .top-bar .btn svg {
      width: 30px;
      height: 30px; }

.main-container {
  background: #e8e8e8;
  display: flex;
  height: 95%; }

.content {
  background: #e8e8e8;
  flex-basis: 5;
  min-width: 100px;
  flex-grow: 5; }

.notatki-cont {
  margin: 10px;
  display: flex;
  flex-wrap: wrap; }

.notatka {
  padding: 10px;
  background: #fafafa;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin: 5px;
  flex-basis: 240px; }
  .notatka:hover {
    box-shadow: 0 0px 11px rgba(0, 0, 0, 0.2);
    cursor: default; }
  .notatka .tytul {
    font-weight: 600; }
  .notatka .tresc {
    margin: 15px 0 25px; }
  .notatka .buttons {
    height: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden; }
  .notatka .btn {
    opacity: 0.5;
    cursor: pointer; }
    .notatka .btn:hover {
      opacity: 1; }
