@import "zmienne.scss";
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, .87);
}

* {
    transition: 150ms ease-in;
}

*::placeholder {
    color: rgba(0, 0, 0, 0.5)
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input {
    background: transparent
}

.hidden {
    display: none !important;
}

.collapsed-h {
    height: 0 !important;
}

.collapsed-w {
    height: 0 !important;
}

html,
body,
#root,
#PageContainer {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background: #ffbb00;
    .logo {
        text-align: center;
    }
    .szukaj-cont {
        display: flex;
        align-items: center;
        height: 70%;
        width: 100%;
        margin: 0 5%;
        border-radius: 15px 15px 5px;
        background: rgba(0, 0, 0, 0.05);
        .szukaj-btn {
            cursor: pointer;
            padding: 4px 10px 0 12px;
        }
        input {
            width: 100%;
            border: 1px solid transparent;
            background: transparent;
            border-radius: 3px;
            outline: 0px solid transparent;
        }
    }
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 30px;
        padding: 15px;
        cursor: pointer;
        user-select: none;
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }
}

.main-container {
    background: #e8e8e8;
    display: flex;
    height: 95%;
}

.content {
    background: #e8e8e8;
    flex-basis: 5;
    min-width: 100px;
    flex-grow: 5;
}

.notatki-cont {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.notatka {
    padding: 10px;
    background: $brudnyBialy;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.20);
    margin: 5px;
    flex-basis: 240px;
    &:hover {
        box-shadow: 0 0px 11px rgba(0, 0, 0, 0.20);
        cursor: default;
    }
    .tytul {
        font-weight: 600;
    }
    .tresc {
        margin: 15px 0 25px;
    }
    .buttons {
        height: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
    }
    .btn {
        opacity: 0.5;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
}