.main-container {
  background: #eae8ee;
  display: flex; }

.top-bar {
  background: #ddd;
  display: flex; }
  .top-bar * {
    flex-grow: 1; }

.sidebar {
  background: #a072e0;
  min-width: 100px;
  flex-grow: 1; }

.content {
  background: #ee2255;
  flex-basis: 5;
  min-width: 100px;
  flex-grow: 5; }

.dodajnotatke-input {
  background: #ffffff;
  width: 400px;
  height: 50px;
  cursor: text;
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 10px auto 0; }

.szukajInput-buttons, .nowalista-btn, .notatkaZdj-btn, .notatkaRys-btn {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin: 0 5px;
  cursor: pointer; }
