.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    scroll-behavior: unset;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    pointer-events: all;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

$barH: 30px;
$btnsH: 60px;
.modal-dialog {
    height: 400px;
    min-width: 400px;
    scroll-behavior: unset;
    pointer-events: all;
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    animation: ease-out 200ms dialogShow;
    @keyframes dialogShow {
        from {
            transform: scale(0)
        }
        to {
            transform: scale(1)
        }
    }
    .btn {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 200ms;
        &:hover {
            background: rgba(0, 0, 0, 0.1)
        }
    }
    .bar {
        width: 100%;
        height: $barH;
        border: 1px solid rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .btn {
            width: 30px;
            height: 30px;
        }
    }
    .content {
        height: calc(100% - #{$barH + $btnsH});
        padding: 10px;
        animation: ease-out 500ms content-show;
        @keyframes content-show {
            from {
                opacity: 0
            }
            to {
                opacity: 1
            }
        }
        .tytul {
            font-weight: 600;
        }
        .tresc {
            margin: 15px 0 25px;
        }
    }
    .buttons-cont {
        height: $btnsH;
        width: 100%;
        justify-content: center;
    }
}