@import "zmienne.scss";
.dodajNotatke-input {
    background: $brudnyBialy;
    margin: 30px auto 10px;
    padding: 0px 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.20);
    max-width: 600px;
    position: relative;
    .tytul {
        width: 100%;
        padding: 20px 0 10px;
        input {
            font-size: 1.1em;
            font-weight: bold;
            color: $placeholder-color-grey
        }
    }
    input,
    textarea {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        outline: 0px solid transparent;
        border: none;
        width: 100%;
        user-select: all;
        background: transparent;
        &::placeholder {
            color: $placeholder-color-grey
        }
    }
    [contenteditable=true]:empty:before {
        content: attr(placeholder);
        display: block;
        /* For Firefox */
        color: $placeholder-color-grey
    }
    div[contenteditable=true] {}
    .buttons-cont {
        display: flex;
        margin: 10px 0 5px;
        justify-content: flex-end;
    }
    .btn {
        $btnH: 25px;
        $btnW: 25px;
        display: flex;
        height: $btnH;
        width: $btnW;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 3px 13px;
        opacity: 0.5;
        user-select: none;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
        &[data-title]:hover:after {
            @include animatedTitle($btnW, $btnH)
        }
    }
    .zamknij {
        min-width: 100px;
        font-size: 0.9em;
        border: none;
    }
    .zwinietyInput {
        display: flex;
        width: 100%;
        align-items: center;
        cursor: text;
        .tekst {
            width: 100%;
        }
    }
    .rozwiniete {
        display: none;
        >.buttons-cont {
            justify-content: flex-start;
            .btn {
                $btnH: 25px;
                $btnW: 25px;
                width: $btnW;
                height: $btnH;
                margin: 15px;
                &>svg{
                        width: 90%;
                        height: 90%;
                    }
                &[data-title]:hover:after {
                    @include animatedTitle($btnW, $btnH)
                }
                &:first-child {
                    padding-left: 0px;
                }
                &:last-child {
                    padding-right: 0px;
                    justify-content: flex-end;
                    width: 100%;
                }
            }
        }
    }
}

.aktywny {
    .rozwiniete {
        display: block;
    }
    .zwiniete {
        display: none;
    }
}