.sidebar {
  background: transparent;
  width: 200px;
  flex-grow: 1;
  overflow-y: auto;
  transition: 800ms; }
  .sidebar .sidebar-content {
    display: flex;
    flex-direction: column;
    font-size: 13px; }
    .sidebar .sidebar-content > div {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 10px;
      transition: 50ms; }
      .sidebar .sidebar-content > div:hover {
        background: rgba(0, 0, 0, 0.3); }
      .sidebar .sidebar-content > div .text {
        padding: 0 10px; }
    .sidebar .sidebar-content hr {
      width: 100%;
      border-top: 1px solid rgba(0, 0, 0, 0.1); }
  @media (max-width: 768px) {
    .sidebar {
      overflow: hidden;
      width: 0;
      transform: translate(-200px); } }
